.questions {
  position: relative;
  width: 100%;
  margin-bottom: 70px;

  &__title {
    text-align: center;
    margin: 50px 0 30px 0;
  }

  &__back{
    position: fixed;
    bottom: 30px;
    right: 20px;
    border-radius: 20px;
    background-color: var(--bg-secondary);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  }

  &__error{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg{
      margin-left: 10px;
      width: 24px;
      height: 24px;
    }
  }
}
