.nav {
  align-items: center;

  &__list {
    padding: 0;
    display: flex;
    align-items: center;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0 20px 0 0;
    background-color: var(--violet);
    width: 90px;
    height: 90px;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    @media (min-width: 768px) {
      width: 120px;
      height: 120px;
      margin: 0 40px 0 0;
    }

    @media (min-width: 992px) {
      width: 150px;
      height: 150px;
      margin: 0 50px 0 0;
    }

    &:hover {
      background-color:  var(--violet-light);
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}