@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$violet: #0000ff21;
$color-primary: #19c37d;
$color-secondary: #715fde;
$color-error: #ef4146;
$gradient-primary: linear-gradient(90deg, #a29bd4, #989fdd);
$text-primary: #202123;
$text-default: #353740;
$text-secondary: #6e6e80;
$text-disabled: #acacbe;
$text-error: var(--color-error);
$white: white;
$bg-primary: rgba(247, 247, 248, 1);
$container-max-width: 1200px;

.accordion{
  &__content{
    height: auto;
    border: 1px solid $bg-primary;
    color: $text-primary;
    background-color: $white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px $text-secondary;
    margin-bottom: 20px;
    transition: height ;
  }

  &__header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
      padding: 15px 20px;
    }

    p{
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      width: 95%;

      @media (min-width: 768px) {
        font-size: 27px;
      }
    }

    svg{
      height: 20px;
      width: 20px;

      @media (min-width: 768px) {
        height: 28px;
        width: 28px;
      }
    }
  }

  &__body{
    padding: 0 20px 15px 20px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }
}
